mixin btn(action)
  - var cssClass = attributes.class || 'btn-default'
  button.btn&attributes(attributes)(class=cssClass,ng-click=action,type="button")
    block

mixin showIf(varName)
  div&attributes(attributes)(ng-show=varName, ng-cloak)
    block

mixin modal(varName, title)
  +showIf(varName)
    .modal&attributes(attributes)(style="display:block")
      .modal-dialog
        .modal-content
          - if (title)
            .modal-header
              button.close(type="button") &times;
              .modal-title Modal title
          block
    .modal-backdrop.fade.in

mixin switchBy(varName)
  div&attributes(attributes)(ng-switch=varName)
    block

mixin state(value)
  div&attributes(attributes)(ng-switch-when=value)
    block

mixin flyout(varName,closeExp)
  - attributes.style = "position:absolute;width:100%;"+((attributes.style)?attributes.style:'')
  - closeExp = closeExp || (varName+'=false')
  +showIf(varName)&attributes(attributes)
    block
    .flyout-backdrop(ng-click=closeExp)

mixin fixedGrid(width,gutterWidth,cols)
  .grid-toggle(ng-init="showGrid=false", ng-click="showGrid=!showGrid")
    | Grid: {{showGrid}}

  +showIf("showGrid")&attributes(attributes).grid-container
    - for (var i = 0; i < cols; i++)
      .col(style="width:#{width}px; margin: 0 #{gutterWidth}px")
